[Unit]
Description=tayini server

[Service]
Type=notify
ExecStart=/usr/local/bin/tayniserver start 
WatchdogSec=120s
Restart=on-failure
User=galuisal

[Install]
WantedBy=multi-user.target
